body {
  padding-top: 54px;
    background: beige;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}
.card-title
{
  font-weight: bold;
}

.navbar
{
  background-color: DarkTurquoise;
  font-weight: bold;
  color: white;
}

.wrap {
  /*margin: 2em auto;*/
  padding: 1em;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.25);
  position: relative;
  color: #ccc;
  font-family: sans-serif;
  text-shadow: -1px -1px 15px #111;
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.9;
}

.title{
    text-shadow: #ffffff 0 0 10px, #000 5px 5px 5px;
}