<div class="row">
  <div class="col" id="index-page">
    <h1>Join a Game</h1>
    <p> Enter a new game save name or the one from where you want to continue</p>
    <p><input type="text" class="save-game" id="save-game"></p>

    <button onclick="addName()">Join/Load Game</button
  </div>
  <script>
  function addName() {

        var gameName = document.getElementById('save-game').value;
        window.location.href="/game/"+ gameName;
  }</script>
</div>
